:root {
  --primary: #009b88;
  --primary-hover: rgb(0, 168, 149);
  --primary-focus: rgb(0, 185, 164);
  --bg-primary: #009b88;
  --bg-navbar: #6000b9;
  --bg-purple: #6000b9;
  --bg-purple-dark: #141a37;
  --bg-organge: #ff7847;
  --bg-yellow: #ef9103;
}

* {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #fff !important;
}

fieldset {
  border: 0;
}

.form-container {
  background-color: var(--bg-purple);
  border-radius: 10px;
}

.bgc-primary {
  background-color: var(--bg-primary);
  border-color: var(--primary);
  color: white;
}

.bgc-purble {
  background-color: var(--bg-purple);
  color: white;
}

.bgc-purble-dark {
  background-color: var(--bg-purple-dark);
}

.bgc-primary:hover,
.bgc-primary:active {
  background-color: var(--primary-hover);
  border-color: var(--primary);
}

.bgc-primary:focus {
  background-color: var(--primary-focus);
  border-color: var(--primary-focus);
  box-shadow: 0 0 0 0.25rem rgba(var(--primary-focus), 0.5);
}

.bgc-orange {
  background-color: var(--bg-organge);
  color: white;
}

.bgc-yellow {
  background-color: var(--bg-yellow);
  color: white;
}

.card {
  border-radius: 10px;
}
